/* -----------------------------------
** Bank Form
-------------------------------------*/
input:focus {
  outline: 0; }

.main-content-outer.no-padding-top {
  padding-top: 0px; }
  .main-content-outer.no-padding-top .page-title {
    font-size: 16px;
    width: auto; }
    .main-content-outer.no-padding-top .page-title:after {
      height: 2px;
      left: 0;
      top: 24px;
      width: 150px; }
    .main-content-outer.no-padding-top .page-title span {
      border: 1px solid #ddd;
      background: #f6f6f6;
      padding: 1px 2px;
      margin-left: 6px;
      border-radius: 3px;
      color: #0091EA;
      font-size: 18px; }
      .main-content-outer.no-padding-top .page-title span .fa-file-pdf-o {
        color: red; }
      .main-content-outer.no-padding-top .page-title span .fa-eye {
        color: orange; }
  .main-content-outer.no-padding-top .bank-forms {
    border: 1px solid #eeebeb;
    -webkit-box-shadow: 1px 1px 5px 0px #f6f6f6;
    box-shadow: 1px 1px 5px 0px #f6f6f6;
    border-radius: 3px;
    height: auto;
    padding-bottom: 10px; }
    .main-content-outer.no-padding-top .bank-forms .form-group {
      margin-bottom: 0; }
      .main-content-outer.no-padding-top .bank-forms .form-group .form-control {
        border: 1px solid #e6e6e6; }
      .main-content-outer.no-padding-top .bank-forms .form-group input[type=text] {
        border-radius: 0;
        height: 25px;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0 0 0 5px; }
        .main-content-outer.no-padding-top .bank-forms .form-group input[type=text]:focus {
          border: 1px solid  #0091EA; }
      .main-content-outer.no-padding-top .bank-forms .form-group select {
        border-radius: 0;
        height: 25px;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0 0 0 5px; }
        .main-content-outer.no-padding-top .bank-forms .form-group select:focus {
          border: 1px solid #0091EA; }
      .main-content-outer.no-padding-top .bank-forms .form-group textarea {
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0 0 0 5px;
        min-height: 75px; }
        .main-content-outer.no-padding-top .bank-forms .form-group textarea:focus {
          border: 1px solid #0091EA; }
    .main-content-outer.no-padding-top .bank-forms .form-title {
      font-weight: lighter;
      font-size: 13px;
      color: #0091EA;
      position: relative;
      margin: 0;
      padding: 3px 10px;
      top: -11px;
      background: #fefefe;
      display: inline;
      left: 15px;
      border: 1px solid #eee;
      border-radius: 2px; }
      .main-content-outer.no-padding-top .bank-forms .form-title.title-bg {
        background: #0091EA;
        color: #fff;
        border: 1px solid #0091EA;
        border-radius: 2px; }
    .main-content-outer.no-padding-top .bank-forms .form-group label {
      font-weight: 400;
      margin-bottom: 0;
      font-size: 13px; }
    .main-content-outer.no-padding-top .bank-forms .form-details p {
      display: block;
      margin: 0;
      padding: 0 13px;
      border-bottom: 1px dashed #f1f1f1;
      font-size: 13px;
      font-weight: lighter;
      color: #807f7f; }
      .main-content-outer.no-padding-top .bank-forms .form-details p b {
        float: right;
        font-weight: lighter;
        color: #0091EA; }

.sidebar-menu .menu-accordion .branding-top {
  background: #fff !important; }
